<div class="form-data">
    <form action="/courses/create" method="POST">
        <label for="txtTitle">Title</label>
        <input type="text" name="title" id="txtTitle" placeholder="Title" autofocus required><br>

        <label for="txtDescription">Description</label>
        <input type="description" name="description" id="txtDescription" placeholder="Description" required><br>

        <label for="txtNum">Number of students</label>
        <input type="number" name="numStudents" id="numStudents" placeholder="Num. Students" required><br>

        <label for="cost">Cost</label>
        <input type="number" name="cost" id="cost" placeholder="cost" required><br>

        <button type="submit">Create</button>
    </form>
</div>